openapi: 3.1.0
info:
  title: Blockchain
  version: 3.18.3
servers:
- url: https://api.tatum.io
paths:
  /v3/bitcoin/wallet:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_wallet_get.yml
  /v3/bitcoin/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_address_{xpub}_{index}_get.yml
  /v3/bitcoin/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_bitcoin_wallet_priv_post.yml
  /v3/bitcoin/info:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_info_get.yml
  /v3/bitcoin/block/hash/{i}:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_block_hash_{i}_get.yml
  /v3/bitcoin/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_block_{hash}_get.yml
  /v3/bitcoin/address/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_address_balance_{address}_get.yml
  /v3/bitcoin/address/balance/batch:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_address_balance_batch_get.yml
  /v3/bitcoin/transaction/address/{address}:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_transaction_address_{address}_get.yml
  /v3/bitcoin/transaction:
    post:
      $ref: categories/blockchain/paths/v3_bitcoin_transaction_post.yml
  /v3/bitcoin/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_transaction_{hash}_get.yml
  /v3/bitcoin/utxo/{hash}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_utxo_{hash}_{index}_get.yml
  /v3/bitcoin/mempool:
    get:
      $ref: categories/blockchain/paths/v3_bitcoin_mempool_get.yml
  /v3/bitcoin/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_bitcoin_broadcast_post.yml
  /v3/bitcoin/node:
    post:
      $ref: categories/blockchain/paths/v3_bitcoin_node_post.yml
  /v3/ethereum/wallet:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_wallet_get.yml
  /v3/ethereum/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_address_{xpub}_{index}_get.yml
  /v3/ethereum/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_ethereum_wallet_priv_post.yml
  /v3/ethereum/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_ethereum_web3_{xApiKey}_post.yml
  /v3/ethereum/block/current:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_block_current_get.yml
  /v3/ethereum/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_block_{hash}_get.yml
  /v3/ethereum/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_account_balance_{address}_get.yml
  /v3/ethereum/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_transaction_{hash}_get.yml
  /v3/ethereum/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_transaction_count_{address}_get.yml
  /v3/ethereum/account/transaction/{address}:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_account_transaction_{address}_get.yml
  /v3/ethereum/transaction:
    post:
      $ref: categories/blockchain/paths/v3_ethereum_transaction_post.yml
  /v3/ethereum/smartcontract:
    post:
      $ref: categories/blockchain/paths/v3_ethereum_smartcontract_post.yml
  /v3/ethereum/account/transaction/internal/{address}:
    get:
      $ref: categories/blockchain/paths/v3_ethereum_account_transaction_internal_{address}_get.yml
  /v3/ethereum/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_ethereum_broadcast_post.yml
  /v3/bcash/wallet:
    get:
      $ref: categories/blockchain/paths/v3_bcash_wallet_get.yml
  /v3/bcash/node:
    post:
      $ref: categories/blockchain/paths/v3_bcash_node_post.yml
  /v3/bcash/info:
    get:
      $ref: categories/blockchain/paths/v3_bcash_info_get.yml
  /v3/bcash/block/hash/{i}:
    get:
      $ref: categories/blockchain/paths/v3_bcash_block_hash_{i}_get.yml
  /v3/bcash/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_bcash_block_{hash}_get.yml
  /v3/bcash/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_bcash_transaction_{hash}_get.yml
  /v3/bcash/transaction/address/{address}:
    get:
      $ref: categories/blockchain/paths/v3_bcash_transaction_address_{address}_get.yml
  /v3/bcash/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_bcash_address_{xpub}_{index}_get.yml
  /v3/bcash/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_bcash_wallet_priv_post.yml
  /v3/bcash/transaction:
    post:
      $ref: categories/blockchain/paths/v3_bcash_transaction_post.yml
  /v3/bcash/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_bcash_broadcast_post.yml
  /v3/litecoin/wallet:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_wallet_get.yml
  /v3/litecoin/node:
    post:
      $ref: categories/blockchain/paths/v3_litecoin_node_post.yml
  /v3/litecoin/info:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_info_get.yml
  /v3/litecoin/block/hash/{i}:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_block_hash_{i}_get.yml
  /v3/litecoin/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_block_{hash}_get.yml
  /v3/litecoin/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_transaction_{hash}_get.yml
  /v3/litecoin/mempool:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_mempool_get.yml
  /v3/litecoin/transaction/address/{address}:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_transaction_address_{address}_get.yml
  /v3/litecoin/address/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_address_balance_{address}_get.yml
  /v3/litecoin/address/balance/batch:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_address_balance_batch_get.yml
  /v3/litecoin/utxo/{hash}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_utxo_{hash}_{index}_get.yml
  /v3/litecoin/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_litecoin_address_{xpub}_{index}_get.yml
  /v3/litecoin/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_litecoin_wallet_priv_post.yml
  /v3/litecoin/transaction:
    post:
      $ref: categories/blockchain/paths/v3_litecoin_transaction_post.yml
  /v3/litecoin/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_litecoin_broadcast_post.yml
  /v3/dogecoin/wallet:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_wallet_get.yml
  /v3/dogecoin/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_address_{xpub}_{index}_get.yml
  /v3/dogecoin/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_dogecoin_wallet_priv_post.yml
  /v3/dogecoin/node:
    post:
      $ref: categories/blockchain/paths/v3_dogecoin_node_post.yml
  /v3/dogecoin/info:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_info_get.yml
  /v3/dogecoin/block/hash/{i}:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_block_hash_{i}_get.yml
  /v3/dogecoin/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_block_{hash}_get.yml
  /v3/dogecoin/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_transaction_{hash}_get.yml
  /v3/dogecoin/transaction/address/{address}:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_transaction_address_{address}_get.yml
  /v3/dogecoin/address/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_address_balance_{address}_get.yml
  /v3/dogecoin/address/balance/batch:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_address_balance_batch_get.yml
  /v3/dogecoin/mempool:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_mempool_get.yml
  /v3/dogecoin/utxo/{hash}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_dogecoin_utxo_{hash}_{index}_get.yml
  /v3/dogecoin/transaction:
    post:
      $ref: categories/blockchain/paths/v3_dogecoin_transaction_post.yml
  /v3/dogecoin/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_dogecoin_broadcast_post.yml
  /v3/flow/wallet:
    get:
      $ref: categories/blockchain/paths/v3_flow_wallet_get.yml
  /v3/flow/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_flow_address_{xpub}_{index}_get.yml
  /v3/flow/pubkey/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_flow_pubkey_{xpub}_{index}_get.yml
  /v3/flow/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_flow_wallet_priv_post.yml
  /v3/flow/block/current:
    get:
      $ref: categories/blockchain/paths/v3_flow_block_current_get.yml
  /v3/flow/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_flow_block_{hash}_get.yml
  /v3/flow/block/events:
    get:
      $ref: categories/blockchain/paths/v3_flow_block_events_get.yml
  /v3/flow/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_flow_transaction_{hash}_get.yml
  /v3/flow/account/{address}:
    get:
      $ref: categories/blockchain/paths/v3_flow_account_{address}_get.yml
  /v3/flow/transaction:
    post:
      $ref: categories/blockchain/paths/v3_flow_transaction_post.yml
  /v3/flow/transaction/custom:
    post:
      $ref: categories/blockchain/paths/v3_flow_transaction_custom_post.yml
  /v3/flow/account:
    post:
      $ref: categories/blockchain/paths/v3_flow_account_post.yml
    put:
      $ref: categories/blockchain/paths/v3_flow_account_put.yml
  /v3/xrp/account:
    get:
      $ref: categories/blockchain/paths/v3_xrp_account_get.yml
  /v3/xrp/info:
    get:
      $ref: categories/blockchain/paths/v3_xrp_info_get.yml
  /v3/xrp/fee:
    get:
      $ref: categories/blockchain/paths/v3_xrp_fee_get.yml
  /v3/xrp/account/tx/{account}:
    get:
      $ref: categories/blockchain/paths/v3_xrp_account_tx_{account}_get.yml
  /v3/xrp/ledger/{i}:
    get:
      $ref: categories/blockchain/paths/v3_xrp_ledger_{i}_get.yml
  /v3/xrp/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_xrp_transaction_{hash}_get.yml
  /v3/xrp/account/{account}:
    get:
      $ref: categories/blockchain/paths/v3_xrp_account_{account}_get.yml
  /v3/xrp/account/{account}/balance:
    get:
      $ref: categories/blockchain/paths/v3_xrp_account_{account}_balance_get.yml
  /v3/xrp/transaction:
    post:
      $ref: categories/blockchain/paths/v3_xrp_transaction_post.yml
  /v3/xrp/trust:
    post:
      $ref: categories/blockchain/paths/v3_xrp_trust_post.yml
  /v3/xrp/account/settings:
    post:
      $ref: categories/blockchain/paths/v3_xrp_account_settings_post.yml
  /v3/xrp/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_xrp_broadcast_post.yml
  /v3/xlm/account:
    get:
      $ref: categories/blockchain/paths/v3_xlm_account_get.yml
  /v3/xlm/info:
    get:
      $ref: categories/blockchain/paths/v3_xlm_info_get.yml
  /v3/xlm/ledger/{sequence}:
    get:
      $ref: categories/blockchain/paths/v3_xlm_ledger_{sequence}_get.yml
  /v3/xlm/ledger/{sequence}/transaction:
    get:
      $ref: categories/blockchain/paths/v3_xlm_ledger_{sequence}_transaction_get.yml
  /v3/xlm/fee:
    get:
      $ref: categories/blockchain/paths/v3_xlm_fee_get.yml
  /v3/xlm/account/tx/{account}:
    get:
      $ref: categories/blockchain/paths/v3_xlm_account_tx_{account}_get.yml
  /v3/xlm/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_xlm_transaction_{hash}_get.yml
  /v3/xlm/account/{account}:
    get:
      $ref: categories/blockchain/paths/v3_xlm_account_{account}_get.yml
  /v3/xlm/transaction:
    post:
      $ref: categories/blockchain/paths/v3_xlm_transaction_post.yml
  /v3/xlm/trust:
    post:
      $ref: categories/blockchain/paths/v3_xlm_trust_post.yml
  /v3/xlm/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_xlm_broadcast_post.yml
  /v3/bnb/account:
    get:
      $ref: categories/blockchain/paths/v3_bnb_account_get.yml
  /v3/bnb/block/current:
    get:
      $ref: categories/blockchain/paths/v3_bnb_block_current_get.yml
  /v3/bnb/block/{height}:
    get:
      $ref: categories/blockchain/paths/v3_bnb_block_{height}_get.yml
  /v3/bnb/account/{address}:
    get:
      $ref: categories/blockchain/paths/v3_bnb_account_{address}_get.yml
  /v3/bnb/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_bnb_transaction_{hash}_get.yml
  /v3/bnb/account/transaction/{address}:
    get:
      $ref: categories/blockchain/paths/v3_bnb_account_transaction_{address}_get.yml
  /v3/bnb/transaction:
    post:
      $ref: categories/blockchain/paths/v3_bnb_transaction_post.yml
  /v3/bnb/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_bnb_broadcast_post.yml
  /v3/vet/wallet:
    get:
      $ref: categories/blockchain/paths/v3_vet_wallet_get.yml
  /v3/vet/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_vet_address_{xpub}_{index}_get.yml
  /v3/vet/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_vet_wallet_priv_post.yml
  /v3/vet/block/current:
    get:
      $ref: categories/blockchain/paths/v3_vet_block_current_get.yml
  /v3/vet/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_vet_block_{hash}_get.yml
  /v3/vet/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_vet_account_balance_{address}_get.yml
  /v3/vet/account/energy/{address}:
    get:
      $ref: categories/blockchain/paths/v3_vet_account_energy_{address}_get.yml
  /v3/vet/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_vet_transaction_{hash}_get.yml
  /v3/vet/transaction/{hash}/receipt:
    get:
      $ref: categories/blockchain/paths/v3_vet_transaction_{hash}_receipt_get.yml
  /v3/vet/transaction:
    post:
      $ref: categories/blockchain/paths/v3_vet_transaction_post.yml
  /v3/vet/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_vet_broadcast_post.yml
  /v3/ada/info:
    get:
      $ref: categories/blockchain/paths/v3_ada_info_get.yml
  /v3/ada/wallet:
    get:
      $ref: categories/blockchain/paths/v3_ada_wallet_get.yml
  /v3/ada/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_ada_address_{xpub}_{index}_get.yml
  /v3/ada/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_ada_wallet_priv_post.yml
  /v3/ada/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_ada_block_{hash}_get.yml
  /v3/ada/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_ada_transaction_{hash}_get.yml
  /v3/ada/transaction/address/{address}:
    get:
      $ref: categories/blockchain/paths/v3_ada_transaction_address_{address}_get.yml
  /v3/ada/{address}/utxos:
    get:
      $ref: categories/blockchain/paths/v3_ada_{address}_utxos_get.yml
  /v3/ada/transaction:
    post:
      $ref: categories/blockchain/paths/v3_ada_transaction_post.yml
  /v3/ada/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_ada_broadcast_post.yml
  /v3/ada/account/{address}:
    get:
      $ref: categories/blockchain/paths/v3_ada_account_{address}_get.yml
  /v3/algorand/wallet:
    get:
      $ref: categories/blockchain/paths/v3_algorand_wallet_get.yml
  /v3/algorand/address/{priv}:
    get:
      $ref: categories/blockchain/paths/v3_algorand_address_{priv}_get.yml
  /v3/algorand/node/indexer/{xApiKey}/{indexerPath}:
    get:
      $ref: categories/blockchain/paths/v3_algorand_node_indexer_{xApiKey}_{indexerPath}_get.yml
  /v3/algorand/node/algod/{xApiKey}/{algodPath}:
    get:
      $ref: categories/blockchain/paths/v3_algorand_node_algod_{xApiKey}_{algodPath}_get.yml
    post:
      $ref: categories/blockchain/paths/v3_algorand_node_algod_{xApiKey}_{algodPath}_post.yml
  /v3/algorand/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_algorand_account_balance_{address}_get.yml
  /v3/algorand/block/current:
    get:
      $ref: categories/blockchain/paths/v3_algorand_block_current_get.yml
  /v3/algorand/block/{roundNumber}:
    get:
      $ref: categories/blockchain/paths/v3_algorand_block_{roundNumber}_get.yml
  /v3/algorand/transaction:
    post:
      $ref: categories/blockchain/paths/v3_algorand_transaction_post.yml
  /v3/algorand/asset/receive:
    post:
      $ref: categories/blockchain/paths/v3_algorand_asset_receive_post.yml
  /v3/algorand/transaction/{txid}:
    get:
      $ref: categories/blockchain/paths/v3_algorand_transaction_{txid}_get.yml
  /v3/algorand/transactions/{from}/{to}:
    get:
      $ref: categories/blockchain/paths/v3_algorand_transactions_{from}_{to}_get.yml
  /v3/algorand/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_algorand_broadcast_post.yml
  /v3/polygon/wallet:
    get:
      $ref: categories/blockchain/paths/v3_polygon_wallet_get.yml
  /v3/polygon/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_polygon_address_{xpub}_{index}_get.yml
  /v3/polygon/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_polygon_wallet_priv_post.yml
  /v3/polygon/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_polygon_web3_{xApiKey}_post.yml
  /v3/polygon/block/current:
    get:
      $ref: categories/blockchain/paths/v3_polygon_block_current_get.yml
  /v3/polygon/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_polygon_block_{hash}_get.yml
  /v3/polygon/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_polygon_account_balance_{address}_get.yml
  /v3/polygon/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_polygon_transaction_{hash}_get.yml
  /v3/polygon/account/transaction/{address}:
    get:
      $ref: categories/blockchain/paths/v3_polygon_account_transaction_{address}_get.yml
  /v3/polygon/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_polygon_transaction_count_{address}_get.yml
  /v3/polygon/transaction:
    post:
      $ref: categories/blockchain/paths/v3_polygon_transaction_post.yml
  /v3/polygon/smartcontract:
    post:
      $ref: categories/blockchain/paths/v3_polygon_smartcontract_post.yml
  /v3/polygon/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_polygon_broadcast_post.yml
  /v3/klaytn/wallet:
    get:
      $ref: categories/blockchain/paths/v3_klaytn_wallet_get.yml
  /v3/klaytn/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_klaytn_address_{xpub}_{index}_get.yml
  /v3/klaytn/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_klaytn_wallet_priv_post.yml
  /v3/klaytn/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_klaytn_web3_{xApiKey}_post.yml
  /v3/klaytn/block/current:
    get:
      $ref: categories/blockchain/paths/v3_klaytn_block_current_get.yml
  /v3/klaytn/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_klaytn_block_{hash}_get.yml
  /v3/klaytn/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_klaytn_account_balance_{address}_get.yml
  /v3/klaytn/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_klaytn_transaction_{hash}_get.yml
  /v3/klaytn/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_klaytn_transaction_count_{address}_get.yml
  /v3/klaytn/transaction:
    post:
      $ref: categories/blockchain/paths/v3_klaytn_transaction_post.yml
  /v3/klaytn/smartcontract:
    post:
      $ref: categories/blockchain/paths/v3_klaytn_smartcontract_post.yml
  /v3/klaytn/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_klaytn_broadcast_post.yml
  /v3/solana/wallet:
    get:
      $ref: categories/blockchain/paths/v3_solana_wallet_get.yml
  /v3/solana/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_solana_web3_{xApiKey}_post.yml
  /v3/solana/block/current:
    get:
      $ref: categories/blockchain/paths/v3_solana_block_current_get.yml
  /v3/solana/block/{height}:
    get:
      $ref: categories/blockchain/paths/v3_solana_block_{height}_get.yml
  /v3/solana/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_solana_account_balance_{address}_get.yml
  /v3/solana/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_solana_transaction_{hash}_get.yml
  /v3/solana/transaction:
    post:
      $ref: categories/blockchain/paths/v3_solana_transaction_post.yml
  /v3/solana/broadcast/confirm:
    post:
      $ref: categories/blockchain/paths/v3_solana_broadcast_confirm_post.yml
  /v3/celo/wallet:
    get:
      $ref: categories/blockchain/paths/v3_celo_wallet_get.yml
  /v3/celo/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_celo_address_{xpub}_{index}_get.yml
  /v3/celo/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_celo_wallet_priv_post.yml
  /v3/celo/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_celo_web3_{xApiKey}_post.yml
  /v3/celo/block/current:
    get:
      $ref: categories/blockchain/paths/v3_celo_block_current_get.yml
  /v3/celo/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_celo_block_{hash}_get.yml
  /v3/celo/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_celo_account_balance_{address}_get.yml
  /v3/celo/account/transaction/{address}:
    get:
      $ref: categories/blockchain/paths/v3_celo_account_transaction_{address}_get.yml
  /v3/celo/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_celo_transaction_{hash}_get.yml
  /v3/celo/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_celo_transaction_count_{address}_get.yml
  /v3/celo/transaction:
    post:
      $ref: categories/blockchain/paths/v3_celo_transaction_post.yml
  /v3/celo/smartcontract:
    post:
      $ref: categories/blockchain/paths/v3_celo_smartcontract_post.yml
  /v3/celo/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_celo_broadcast_post.yml
  /v3/egld/wallet:
    get:
      $ref: categories/blockchain/paths/v3_egld_wallet_get.yml
  /v3/egld/address/{mnemonic}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_egld_address_{mnemonic}_{index}_get.yml
  /v3/egld/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_egld_wallet_priv_post.yml
  /v3/egld/node/{xApiKey}/*:
    post:
      $ref: categories/blockchain/paths/v3_egld_node_{xApiKey}_*_post.yml
    get:
      $ref: categories/blockchain/paths/v3_egld_node_{xApiKey}_*_get.yml
  /v3/egld/block/current:
    get:
      $ref: categories/blockchain/paths/v3_egld_block_current_get.yml
  /v3/egld/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_egld_block_{hash}_get.yml
  /v3/egld/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_egld_account_balance_{address}_get.yml
  /v3/egld/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_egld_transaction_{hash}_get.yml
  /v3/egld/transaction/address/{address}:
    get:
      $ref: categories/blockchain/paths/v3_egld_transaction_address_{address}_get.yml
  /v3/egld/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_egld_transaction_count_{address}_get.yml
  /v3/egld/transaction:
    post:
      $ref: categories/blockchain/paths/v3_egld_transaction_post.yml
  /v3/egld/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_egld_broadcast_post.yml
  /v3/tron/wallet:
    get:
      $ref: categories/blockchain/paths/v3_tron_wallet_get.yml
  /v3/tron/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_tron_address_{xpub}_{index}_get.yml
  /v3/tron/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_tron_wallet_priv_post.yml
  /v3/tron/info:
    get:
      $ref: categories/blockchain/paths/v3_tron_info_get.yml
  /v3/tron/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_tron_block_{hash}_get.yml
  /v3/tron/account/{address}:
    get:
      $ref: categories/blockchain/paths/v3_tron_account_{address}_get.yml
  /v3/tron/freezeBalance:
    post:
      $ref: categories/blockchain/paths/v3_tron_freezeBalance_post.yml
  /v3/tron/unfreezeBalance:
    post:
      $ref: categories/blockchain/paths/v3_tron_unfreezeBalance_post.yml
  /v3/tron/transaction/account/{address}:
    get:
      $ref: categories/blockchain/paths/v3_tron_transaction_account_{address}_get.yml
  /v3/tron/transaction/account/{address}/trc20:
    get:
      $ref: categories/blockchain/paths/v3_tron_transaction_account_{address}_trc20_get.yml
  /v3/tron/transaction:
    post:
      $ref: categories/blockchain/paths/v3_tron_transaction_post.yml
  /v3/tron/trc10/transaction:
    post:
      $ref: categories/blockchain/paths/v3_tron_trc10_transaction_post.yml
  /v3/tron/trc20/transaction:
    post:
      $ref: categories/blockchain/paths/v3_tron_trc20_transaction_post.yml
  /v3/tron/trc10/deploy:
    post:
      $ref: categories/blockchain/paths/v3_tron_trc10_deploy_post.yml
  /v3/tron/trc10/detail/{idOrOwnerAddress}:
    get:
      $ref: categories/blockchain/paths/v3_tron_trc10_detail_{idOrOwnerAddress}_get.yml
  /v3/tron/trc20/deploy:
    post:
      $ref: categories/blockchain/paths/v3_tron_trc20_deploy_post.yml
  /v3/tron/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_tron_transaction_{hash}_get.yml
  /v3/tron/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_tron_broadcast_post.yml
  /v3/bsc/wallet:
    get:
      $ref: categories/blockchain/paths/v3_bsc_wallet_get.yml
  /v3/bsc/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_bsc_address_{xpub}_{index}_get.yml
  /v3/bsc/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_bsc_wallet_priv_post.yml
  /v3/bsc/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_bsc_web3_{xApiKey}_post.yml
  /v3/bsc/block/current:
    get:
      $ref: categories/blockchain/paths/v3_bsc_block_current_get.yml
  /v3/bsc/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_bsc_block_{hash}_get.yml
  /v3/bsc/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_bsc_account_balance_{address}_get.yml
  /v3/bsc/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_bsc_transaction_{hash}_get.yml
  /v3/bsc/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_bsc_transaction_count_{address}_get.yml
  /v3/bsc/transaction:
    post:
      $ref: categories/blockchain/paths/v3_bsc_transaction_post.yml
  /v3/bsc/smartcontract:
    post:
      $ref: categories/blockchain/paths/v3_bsc_smartcontract_post.yml
  /v3/bsc/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_bsc_broadcast_post.yml
  /v3/kcs/wallet:
    get:
      $ref: categories/blockchain/paths/v3_kcs_wallet_get.yml
  /v3/kcs/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_kcs_address_{xpub}_{index}_get.yml
  /v3/kcs/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_kcs_wallet_priv_post.yml
  /v3/kcs/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_kcs_web3_{xApiKey}_post.yml
  /v3/kcs/block/current:
    get:
      $ref: categories/blockchain/paths/v3_kcs_block_current_get.yml
  /v3/kcs/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_kcs_block_{hash}_get.yml
  /v3/kcs/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_kcs_account_balance_{address}_get.yml
  /v3/kcs/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_kcs_transaction_{hash}_get.yml
  /v3/kcs/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_kcs_transaction_count_{address}_get.yml
  /v3/kcs/transaction:
    post:
      $ref: categories/blockchain/paths/v3_kcs_transaction_post.yml
  /v3/kcs/smartcontract:
    post:
      $ref: categories/blockchain/paths/v3_kcs_smartcontract_post.yml
  /v3/kcs/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_kcs_broadcast_post.yml
  /v3/one/wallet:
    get:
      $ref: categories/blockchain/paths/v3_one_wallet_get.yml
  /v3/one/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_one_address_{xpub}_{index}_get.yml
  /v3/one/address/format/{address}:
    get:
      $ref: categories/blockchain/paths/v3_one_address_format_{address}_get.yml
  /v3/one/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_one_wallet_priv_post.yml
  /v3/one/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_one_web3_{xApiKey}_post.yml
  /v3/one/block/current:
    get:
      $ref: categories/blockchain/paths/v3_one_block_current_get.yml
  /v3/one/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_one_block_{hash}_get.yml
  /v3/one/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_one_account_balance_{address}_get.yml
  /v3/one/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_one_transaction_{hash}_get.yml
  /v3/one/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_one_transaction_count_{address}_get.yml
  /v3/one/transaction:
    post:
      $ref: categories/blockchain/paths/v3_one_transaction_post.yml
  /v3/one/smartcontract:
    post:
      $ref: categories/blockchain/paths/v3_one_smartcontract_post.yml
  /v3/one/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_one_broadcast_post.yml
  /v3/xdc/wallet:
    get:
      $ref: categories/blockchain/paths/v3_xdc_wallet_get.yml
  /v3/xdc/address/{xpub}/{index}:
    get:
      $ref: categories/blockchain/paths/v3_xdc_address_{xpub}_{index}_get.yml
  /v3/xdc/wallet/priv:
    post:
      $ref: categories/blockchain/paths/v3_xdc_wallet_priv_post.yml
  /v3/xdc/web3/{xApiKey}:
    post:
      $ref: categories/blockchain/paths/v3_xdc_web3_{xApiKey}_post.yml
  /v3/xdc/block/current:
    get:
      $ref: categories/blockchain/paths/v3_xdc_block_current_get.yml
  /v3/xdc/block/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_xdc_block_{hash}_get.yml
  /v3/xdc/account/balance/{address}:
    get:
      $ref: categories/blockchain/paths/v3_xdc_account_balance_{address}_get.yml
  /v3/xdc/transaction/{hash}:
    get:
      $ref: categories/blockchain/paths/v3_xdc_transaction_{hash}_get.yml
  /v3/xdc/transaction/count/{address}:
    get:
      $ref: categories/blockchain/paths/v3_xdc_transaction_count_{address}_get.yml
  /v3/xdc/transaction:
    post:
      $ref: categories/blockchain/paths/v3_xdc_transaction_post.yml
  /v3/xdc/smartcontract:
    post:
      $ref: categories/blockchain/paths/v3_xdc_smartcontract_post.yml
  /v3/xdc/broadcast:
    post:
      $ref: categories/blockchain/paths/v3_xdc_broadcast_post.yml
